backend/flight-soap-api/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UserService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://tempuri.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://tempuri.org/">
    <types>
        <xsd:schema targetNamespace="http://tempuri.org/">
            <xsd:element name="GetUsersRequest">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetUsersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="users" type="tns:User" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="UserId" type="xsd:int"/>
                    <xsd:element name="Firstname" type="xsd:string"/>
                    <xsd:element name="Lastname" type="xsd:string"/>
                    <xsd:element name="MaskedEmail" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="GetUsersRequest">
        <part name="parameters" element="tns:GetUsersRequest"/>
    </message>
    <message name="GetUsersResponse">
        <part name="parameters" element="tns:GetUsersResponse"/>
    </message>
    <portType name="UserServicePort">
        <operation name="getUsers">
            <input message="tns:GetUsersRequest"/>
            <output message="tns:GetUsersResponse"/>
        </operation>
    </portType>
    <binding name="UserServiceBinding" type="tns:UserServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getUsers">
            <soap:operation soapAction="getUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UserService">
        <port name="UserServicePort" binding="tns:UserServiceBinding">
            <soap:address location="http://localhost:3000/wsdl"/>
        </port>
    </service>
</definitions>